apiVersion: v1
kind: Service
metadata:
  name: gitlab
spec:
  ports:
  - name: ssh 
    protocol: TCP
    port: 22
    targetPort: 22
  - name: http  
    protocol: TCP
    port: 80
    targetPort: 80
  - name: registry
    protocol: TCP
    port: 5000
    targetPort: 5000
  type: NodePort
  selector:
    name: gitlab-ce
